body {
height: 100%;
width: 100%;
}
#grid_book {
  position: relative;
  display: grid;
  grid-template:
  "content_book" calc(68.75vh - 3rem)
  "footer"          18.75vh
  /100vw
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  margin-top: calc(12.5vh + 3rem);
}
.main {
  overflow: hidden;
  border: 1px solid #000000;
  border-top: 0px;
  border-bottom: 0px;
}
.content_book {
  grid-area: content_book;
  position: relative;
  display: grid;
  grid-template:
  "text-book-space      book-image-space                trailer-video-space"      7fr
  "button-book-space    book-image-space                trailer-video-space"      3fr
  /1fr                  calc(42.96875vh - 1.875rem)     calc(42.96875vh - 1.875rem)
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  border: 0px;
}
.menu-shop p {
border-bottom: 0px;
}
.text-book-space {
  grid-area: text-book-space;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
.book-image-space {
  grid-area: book-image-space;
  border-right: 0px;
  border-bottom: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}
.obl1 {
  background-image: url('../images/obl1.png');
}
.trailer-video-space {
  grid-area: trailer-video-space;
  border-bottom: 0px;
  border-right: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}
.trailer_video {
  background-image: url('../images/trailer_video.svg');
}
.button-book-space {
  grid-area: button-book-space;
  border: 0px;
  padding: 50px;
}
nav {
  border-left: 0px;
  border-right: 0px;
}
.footer {
  border-left: 0px;
  border-right: 0px;
}
.button-book {
  background-image: url('../images/button-book.svg');
  height: 83px;
  width: 237px;
}
