body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #E6E5E3;
  position: relative;
  height: calc(3080px + 31.25vh);
}
#grid_education {
  position: relative;
  display: grid;
  grid-template:
  "content_education"  2880px
  "button_education_test"  200px
  "footer"             18.75vh
  /100vw
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  margin-top: 12.5vh;
}
.content_education {
  grid-area: content_education;
  display: grid;
  grid-template:
  "card-event-education1" 12rem
  "card-event-education2" 12rem
  "card-event-education3" 12rem
  "card-event-education4" 12rem
  "card-event-education5" 12rem
  "card-event-education6" 12rem
  "card-event-education7" 12rem
  "card-event-education8" 12rem
  "card-event-education9" 12rem
  "card-event-education10" 12rem
  "card-event-education11" 12rem
  /100%
  ;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  border-top: 0px;
  border-bottom: 0px;
}
.card-event-education1 {
  grid-area: card-event-education1;
}
.card-event-education2 {
  grid-area: card-event-education2;
}
.card-event-education2 {
  grid-area: card-event-education2;
}
.card-event-education3 {
  grid-area: card-event-education3;
}
.card-event-education3 {
  grid-area: card-event-education3;
}
.card-event-education4 {
  grid-area: card-event-education4;
}
.card-event-education5 {
  grid-area: card-event-education5;
}
.card-event-education6 {
  grid-area: card-event-education6;
}
.card-event-education7 {
  grid-area: card-event-education7;
}
.card-event-education8 {
  grid-area: card-event-education8;
}
.card-event-education9 {
  grid-area: card-event-education9;
}
.card-event-education {
display: grid;
position: relative;
grid-template:
"image-box-education body-card-education" 1fr
"image-box-education more-card-education" 2rem
/2fr                 4fr
;
grid-gap: 0px;
height: 100%;
width: 100%;
}
.image-box-education {
  grid-area: image-box-education;
  position: relative;
  display: block;
  margin: 0px;
  padding: 20px;
  border: 1px solid #000000;
}
.image-box-education1 {
  background-image: url('../images/image-box-education1.png');
}
.body-card-education {
  display: flex;
  position: relative;
  grid-area: body-card-education;
  border: 1px solid #000000;
  border-left: 0px;
  border-bottom: 0px;
  padding: 20px;
  flex-flow: wrap;
  align-content: space-between;
}
.body-card-education p, .body-card-education h3 {
  display: inline-block;
  position: relative;
}
.more-card-education {
  grid-area: more-card-education;
  border: 1px solid #000000;
  border-top: 0px;
  border-left: 0px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.more-card-education p {
  display: inline-block;
  border: 1px solid #000000;
  background: #E6E5E3;
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: -1px;
  border-bottom: 0px;
}
.button_education_test {
  grid-area: button_education_test;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top: 0px;
  border-bottom: 0px;
}
.button_education_test-prof {
  background-image: url('../images/button_education_test-prof.svg');
  height: 83px;
  width: 226px;
}
