body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #E6E5E3;
  position: relative;
  height: 100vh;
}
#grid_fitolab {
  position: relative;
  display: grid;
  grid-template:
  "content_fitolab"  68.75vh
  "footer"        18.75vh
  /100vw
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  margin-top: 12.5vh;
}
.content_fitolab {
  grid-area: content_fitolab;
  border-top: 0px;
  border-bottom: 0px;
  display: grid;
  grid-template:
  "fito_image_space   fito_text" 100%
  /8fr             4fr
  ;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
}
.fito_image_space {
  grid-area: fito_image_space;
  position: relative;
  display: grid;
  grid-template:
  "...           fito-icon               ..."         48px
  "...           name-fito-card          ..."         1.2rem
  "arrow_left    image-fitolab           arrow_right" 100%
  "...           indicate_fito-image     ..."         190px
  /60px          100%                    60px
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.name-fito-card {
  grid-area: name-fito-card;
  position: absolute;
  display: flex;
  border: 1px solid #000000;
  border-bottom: 0px;
  border-right: 0px;
  text-align: center;
  align-items: center;
  padding: 1rem;
  padding-left: 0px;
  z-index: 6;
  top: 1.2rem;
  height: 1.2rem;
  width: auto;
}
.name-fito-card p {
  display: inline-block;
  border: 1px solid #000000;
  background: #E6E5E3;
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0px;
}
.image-fitolab {
  grid-area: image-fitolab;
}
.indicate_fito-image {
  grid-area: indicate_fito-image;
}
.fito_text {
  grid-area: fito_text;
}
.image-fitolab-card1 {
  background-image: url('../images/image-fitolab-card1.png');
}
