body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #E6E5E3;
  position: relative;
  height: 628.75vh;
}
html {
  background: #bbb;
  position: relative;
  height: 100%;
  font-size: 20px;
}
* {
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0px;
}
#grid_about {
  position: relative;
  display: grid;
  grid-template:
  "menu_about                 menu_about"               12.5vh
  "header_about               header_about"             25vh
  "image_about1               description_about1"       62.5vh
  "description_about2         description_about2"       100vh
  "description_about3         description_about3"       100vh
  "store_advertisement        store_advertisement"      100vh
  "science_advertisement      science_advertisement"    100vh
  "education_advertisement    education_advertisement"  110vh
  "footer                     footer"                   18.75vh
  /50vw                       50vw
  ;
  grid-gap: 0px;
  height: 100%;
  margin: 0px;
}
.section {
  position: relative;
  display: block;
  margin: 0px;
  padding: 20px;
  border: 1px solid #000000;
  border-collapse: collapse;
}
.menu_about {
  grid-area: menu_about;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.header_about {
  grid-area: header_about;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.image_about1 {
  grid-area: image_about1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.description_about1 {
  grid-area: description_about1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.description_about2  {
  grid-area: description_about2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.description_about3  {
  grid-area: description_about3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.store_advertisement  {
  grid-area: store_advertisement;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.science_advertisement  {
  grid-area: science_advertisement;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.education_advertisement  {
  grid-area: education_advertisement;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.footer  {
  grid-area: footer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.menu-items{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}
.menu-items a {
text-decoration: none;
font-size: 1rem;
color: black;
}
nav {
  position: fixed;
  display: block;
  background-color: white;
  height: 12.5vh;
  width: 100vw;
  border: 1px solid #000000;
  border-collapse: collapse;
  background: url('../images/grid_menu2.svg');
  background-size: contain;
  z-index: 20;
  padding: 20px;
}
