body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #E6E5E3;
  position: relative;
  height: 628.75vh;
}
html {
  background: #bbb;
  position: relative;
  height: 100%;
  font-size: 20px;
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: "Anonymous_Pro";
  color: #3C604F;
  font-size: 4rem;
}
h2 {
  font-family: "Anonymous_Pro";
  color: black;
  font-size: 2.4rem;
}
.main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0px;
}
#grid_about {
  position: relative;
  display: grid;
  grid-template:
  "menu_about                 menu_about"               12.5vh
  "header_about               header_about"             25vh
  "image_about1               description_about1"       62.5vh
  "description_about2         description_about2"       100vh
  "description_about3         description_about3"       100vh
  "store_advertisement        store_advertisement"      100vh
  "science_advertisement      science_advertisement"    100vh
  "education_advertisement    education_advertisement"  110vh
  "footer                     footer"                   18.75vh
  /50vw                       50vw
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.section {
  position: relative;
  display: block;
  margin: 0px;
  padding: 20px;
  border: 1px solid #000000;
  border-collapse: collapse;
}
.menu_about {
  grid-area: menu_about;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.header_about {
  grid-area: header_about;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image_about1 {
  grid-area: image_about1;
  position: relative;
  display: block;
  padding: 20px;
}
.container_image1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  background-image: url('../images/image_about1.jpg');
}
.description_about1 {
  grid-area: description_about1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.description_about2  {
  grid-area: description_about2;
  position: relative;
  display: grid;
  grid-template:
  " text_space-da2        text_space-da2        text_space-da2        text_space-da2        ...                   ...                   ..."              3fr
  " ...                   ...                   ...                   ...                   ...                   composition1_p1       composition1_p1"  2fr
  " ...                   ...                   ...                   composition1_p2       composition1_p2       composition1_p2       composition1_p2"  3fr
  " ...                   ...                   composition1_p3       composition1_p3       composition1_p3       composition1_p3       composition1_p3"  1fr
  " ...                   composition1_p4       composition1_p4       ...                   composition1_p5       composition1_p5       ..."              2fr
  " ...                   ...                   ...                   ...                   composition1_p5       composition1_p5       ..."              2fr
  " composition1_p6       composition1_p6       composition1_p6       composition1_p6       composition1_p5       composition1_p5       ..."              2fr
  /1fr                    3fr                   1fr                   1fr                   3fr                   2fr                   1fr
  ;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.composition1 {
  background-image: url('../images/comp1.jpg');
}
.text_space-da2 {
  grid-area: text_space-da2;
  position: relative;
  display: block;
}
.composition1_p1 {
  grid-area: composition1_p1;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition1_p2 {
  grid-area: composition1_p2;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition1_p3 {
  grid-area: composition1_p3;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition1_p4 {
  grid-area: composition1_p4;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition1_p5 {
  grid-area: composition1_p5;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition1_p6 {
  grid-area: composition1_p6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.description_about3  {
  grid-area: description_about3;
  position: relative;
  display: grid;
  grid-template:
  " text_space-da3        text_space-da3        text_space-da3        ...                   ...                   ...                   ..."               3fr
  " ...                   ...                   ...                   ...                   ...                   composition2_p1       composition2_p1"   1fr
  " ...                   ...                   ...                   composition2_p2       composition2_p2       composition2_p2       composition2_p3"   1fr
  " composition2_p4       ...                   ...                   ...                   ...                   ...                   composition2_p3"   1fr
  " composition2_p4       composition2_p5       ...                   ...                   composition2_p6       composition2_p6       composition2_p3"   1fr
  " composition2_p4       composition2_p5       composition2_p7       composition2_p7       composition2_p6       composition2_p6       composition2_p3"   1fr
  " composition2_p4       composition2_p8       composition2_p8       composition2_p8       composition2_p6       composition2_p6       composition2_p3"   3fr
  /2fr                    3fr                   1fr                   2fr                   2fr                   2fr                   2fr
  ;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.composition2 {
  background-image: url('../images/comp2.jpg');
}
.composition3 {
  background-image: url('../images/comp3.jpg');
}
.text_space-da3 {
  grid-area: text_space-da3;
  position: relative;
  display: block;
}
.composition2_p1 {
  grid-area: composition2_p1;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition2_p2 {
  grid-area: composition2_p2;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition2_p3 {
  grid-area: composition2_p3;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition2_p4 {
  grid-area: composition2_p4;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition2_p5 {
  grid-area: composition2_p5;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition2_p6 {
  grid-area: composition2_p6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition2_p7 {
  grid-area: composition2_p7;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.composition2_p8 {
  grid-area: composition2_p8;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.store_advertisement  {
  grid-area: store_advertisement;
  position: relative;
  display: grid;
  grid-template:
  "header_store"  1fr
  "content_store" 11fr
  "button_store"  4fr
  /100%
  ;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.header_store  {
  grid-area: header_store;
  position: relative;
  display: block;
}
.content_store  {
  grid-area: content_store;
  position: relative;
  display: grid;
  grid-template:
  "store-card-advert1 store-card-advert2 store-card-advert3" 100%
  /1fr                1fr                1fr
  ;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.store-card-advert1  {
  grid-area: store-card-advert1;
  position: relative;
  display: block;
}
.store-card-advert2  {
  grid-area: store-card-advert2;
  position: relative;
  display: block;
}
.store-card-advert3  {
  grid-area: store-card-advert3;
  position: relative;
  display: block;
}
.store-card {
  position: relative;
  display: grid;
  grid-template:
  "price-store-card" 1.2rem
  "image-store-card" 8fr
  "text-store-card"  2fr
  /100%
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.price-store-card {
  grid-area: price-store-card;
  position: relative;
  display: flex;
  border: 1px solid #000000;
  border-bottom: 0px;
  text-align: center;
  align-items: center;
  padding: 1rem;
  z-index: 6;
  top: 1.2rem;
  background: #E6E5E3;
  flex: 0 0 auto;
  height: 1.2rem;
  width: auto;
}
.price-store-card p {
  display: inline-block;
  border: 1px solid #000000;
}
.image-store-card1  {
background-image: url('../images/image-store-card1.png');
}
.image-store-card2  {
background-image: url('../images/image-store-card2.png');
}
.image-store-card3  {
background-image: url('../images/image-store-card3.png');
}
.image-store-card0  {
position: relative;
display: block;
height: 100%;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
}
.image-store-card  {
  grid-area: image-store-card;
  position: relative;
  display: block;
  margin: 0px;
  padding: 20px;
  border: 1px solid #000000;
  border-collapse: collapse;
}
.text-store-card  {
  grid-area: text-store-card;
  position: relative;
  display: flex;
  margin: 0px;
  padding: 20px;
  border: 1px solid #000000;
  border-collapse: collapse;
  text-align: center;
  align-items: center;
}
.button_store  {
  grid-area: button_store;
  position: relative;
  display: block;
}
.science_advertisement  {
  grid-area: science_advertisement;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.education_advertisement  {
  grid-area: education_advertisement;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.footer  {
  grid-area: footer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.menu-items{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}
p, .menu-items a {
font-family: "Anonymous_Pro";
text-decoration: none;
font-size: 1rem;
color: black;
}
a.active_menu-item {
  font-family: "Anonymous_Pro_B";
  color: #3C604F;
  font-size: 1rem;
}
.logo {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: relative;
      display: block;
      background-image: url('../images/logo2.svg');
      height: 55px;
      width: 113px;
    }
nav {
  position: fixed;
  display: block;
  height: 12.5vh;
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  background: url('../images/grid_menu2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 30;
  padding: 20px;
  margin: 0px;
}
.bio_header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}
