body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #E6E5E3;
  position: relative;
  height: 5834px;
}
html {
  background: #bbb;
  position: relative;
  height: 100%;
  font-size: 20px;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0px;
}
#grid {
  position: relative;
  display: grid;
  grid-template:
  "menu_about                 menu_about"
  "header_about               header_about"
  "image_about1               description_about1"
  "description_about2         description_about2"
  "description_about3         description_about3"
  "store_advertisement        store_advertisement"
  "science_advertisement      science_advertisement"
  "education_advertisement    education_advertisement"
  "footer                     footer"
  ;
}
