.body_medcine {
  height: calc(1206px + 121.25vh);
}
#grid_medcine {
  position: relative;
  display: grid;
  grid-template:
  "header_medcine-centre"          10vh
  "info_medcine-centre"            70vh
  "void"                           10vh
  "form_medcine-centre"            1206px
  "footer"                         18.75vh
  /100%
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  margin-top: 12.5vh;
}
.header_medcine-centre {
  grid-area: header_medcine-centre;
  border-top: 0px;
  border-bottom: 0px;
}
.info_medcine-centre {
  grid-area: info_medcine-centre;
  border-top: 0px;
  border-bottom: 0px;
  position: relative;
  display: grid;
  grid-template:
  "info_medcine_image info_medcine_text" 100%
  /7fr                5fr
  ;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
}
.info_medcine_image {
    grid-area: info_medcine_image;
    position: relative;
    display: block;
    margin: 0px;
    padding: 20px;
    border: 1px solid #000000;
}
.info_medcine_text {
    grid-area: info_medcine_text;
    position: relative;
    display: block;
    margin: 0px;
    padding: 20px;
    border: 1px solid #000000;
}
.void {
  grid-area: void;
  border-top: 0px;
  border-bottom: 0px;
}
.form_medcine-centre {
  grid-area: form_medcine-centre;
  border-bottom: 0px;
}
.button_space_medcine-centre {
  grid-area: button_space_medcine-centre;
  border-top: 0px;
  border-bottom: 0px;
}
input[type="text"],
    input[type="number"],
    input[type="datetime-local"],
    select {
      display: block;
      width: 460px;
      position: relative;
      margin: 10px auto;
      height: 46px;
      padding: 0 18px;
      font-size: 1rem;
      border: 1px solid #000000;
      background: #E6E5E3;
      font-family: "Anonymous_Pro";
      text-decoration: none;
      font-size: 1rem;
      appearance: none;
    }
    .select{
      display: grid;
      grid-template-areas: "select";
      align-items: center;
    }
    .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #3C604F;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
  }
  select,
.select:after {
  grid-area: select;
}
::-webkit-input-placeholder {
  font-family: "Anonymous_Pro";
  text-decoration: none;
  font-size: 1rem;
  color: #8AA97E;
}
.text_form {
          display: block;
          width: 460px;
          position: relative;
          margin: 10px auto;
          margin-top: 40px;
        }
button {
  border: 0px;
  background: #E6E5E3;
  display: block;
  position: relative;
  margin: 10px auto;
  margin-top: 100px;
}
.button-medcine-form {
  background-image: url('../images/button-medcine-form.svg');
  height: 82px;
  width: 204px;
}
