@media only screen and (orientation: portrait) {
  body {
    height: 400.5vh;
  }
  html {
    font-size: 16px;
  }
  nav {
    height: 9vh;
    padding-right: 0px;
  }
  #grid_about {
    grid-template:
    "menu_about                 menu_about"               9vh
    "header_about               header_about"             21vh
    "image_about1               description_about1"       29vh
    "description_about2         description_about2"       50vh
    "description_about3         description_about3"       50vh
    "store_advertisement        store_advertisement"      55vh
    "science_advertisement      science_advertisement"    58vh
    "education_advertisement    education_advertisement"  60vh
    "medcine                    medcine"                  55vh
    "footer                     footer"                   13.5vh
    /50%                       50%
    ;
  }

  .description_about2  {
    grid-template:
    " text_space-da2        text_space-da2        text_space-da2        text_space-da2        text_space-da2        ...                   ..."              3fr
    " ...                   ...                   ...                   ...                   ...                   composition1_p1       composition1_p1"  2fr
    " ...                   ...                   ...                   composition1_p2       composition1_p2       composition1_p2       composition1_p2"  3fr
    " ...                   ...                   composition1_p3       composition1_p3       composition1_p3       composition1_p3       composition1_p3"  1fr
    " ...                   composition1_p4       composition1_p4       ...                   composition1_p5       composition1_p5       ..."              2fr
    " ...                   ...                   ...                   ...                   composition1_p5       composition1_p5       ..."              2fr
    " composition1_p6       composition1_p6       composition1_p6       composition1_p6       composition1_p5       composition1_p5       ..."              2fr
    /1fr                    3fr                   1fr                   1fr                   3fr                   2fr                   1fr
    ;
  }

  .description_about3  {
    grid-template:
    " text_space-da3        text_space-da3        text_space-da3        text_space-da3        text_space-da3        ...                   ..."               3fr
    " ...                   ...                   ...                   ...                   ...                   composition2_p1       composition2_p1"   1fr
    " ...                   ...                   ...                   composition2_p2       composition2_p2       composition2_p2       composition2_p3"   1fr
    " composition2_p4       ...                   ...                   ...                   ...                   ...                   composition2_p3"   1fr
    " composition2_p4       composition2_p5       ...                   ...                   composition2_p6       composition2_p6       composition2_p3"   1fr
    " composition2_p4       composition2_p5       composition2_p7       composition2_p7       composition2_p6       composition2_p6       composition2_p3"   1fr
    " composition2_p4       composition2_p8       composition2_p8       composition2_p8       composition2_p6       composition2_p6       composition2_p3"   3fr
    /2fr                    3fr                   1fr                   2fr                   2fr                   2fr                   2fr
    ;
  }

  .store_advertisement  {
    grid-template:
    "header_store"  10%
    "content_store" 60%
    "button_store"  30%
    /100%
    ;
  }
  .button-space {
    padding-bottom: 50px;
  }

  .science_advertisement  {
    grid-template:
    "header_science"  10%
    "content_science" 60%
    "button_science"  30%
    /100%
    ;
  }
  .education_advertisement  {
    grid-template:
    "header_education"  10%
    "content_education" 60%
    "button_education"  30%
    /100%
    ;
  }
nav a {
  display: none;
}
.menu-items{
  height: calc(100% - 40px);
  width: calc(100% - 20px);
}
.menu_ipad_items {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 200px);
  width: calc(100% - 60px);
  flex-wrap: wrap;
  margin-left: 40px;
}
.menu_ipad_items a {
font-family: "Anonymous_Pro";
text-decoration: none;
font-size: 2rem;
color: black;
}
.menu_burger {
  display: block;
  right: 0px;
  position: relative;
  height: 9vh;
  width: 12vh;
  background: url('../images/menu_burger.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.menu_blur {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(60, 96, 79, 0.5);
  backdrop-filter: blur(20px);
  z-index: 25;
}
.menu_ipad {
  display: flex;
  position: fixed;
  width: 40%;
  height: 91vh;
  z-index: 35;
  right: 0px;
  border: 1px solid #000000;
  background: #E6E5E3;
  margin-top: 9vh;
  border-top: 0px;
}
a.active_menu-item {
  font-family: "Anonymous_Pro_B";
  color: #3C604F;
  font-size: 2rem;
}
.menu_close {
background: url('../images/menu_close.png');
}
.hidden_element {
  display: none;
}

}
/* 320–475 (iPhone SE) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    height: 897.5vh;
  }
  html {
    font-size: 11px;
  }
  .logo {
        height: 55px;
        width: 113px;
        transform: scale(.5);
      }
  nav {
   padding-left: 0px;
  }
  .menu-items{
    width: 100%;
  }
  h1 {
    font-size: 2.8rem;
  }
  #grid_about {
    grid-template:
    "menu_about"                 9vh
    "header_about"               11vh
    "image_about1"               28vh
    "description_about1"         16vh
    "description_about2"         60vh
    "description_about3"         60vh
    "store_advertisement"        250vh
    "science_advertisement"      80vh
    "education_advertisement"    270vh
    "medcine"                    100vh
    "footer"                     13.5vh
    /100%
    ;
  }
  .image_about1 {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  .footer_space3 {
    display: none;
  }
  .footer  {
    grid-template:
    "footer_space2" 100%
    /100%
    ;
  }

  .store_advertisement  {
    grid-template:
    "header_store"  5%
    "content_store" 80%
    "button_store"  15%
    /100%
    ;
  }

  .content_store  {
    grid-template:
    "store-card-advert1" 1fr
    "store-card-advert2" 1fr
    "store-card-advert3" 1fr
    /100%
    ;
  }
  .button-cards {
    transform: scale(.7);
  }
  .price-store-card p {
  border-top: 0px;
  }
}
