.menu-shop p {
border-bottom: 1px solid #000000;;
}
body {
height: calc(237.5vh + 140px);
width: 100%;
}
#grid_shop {
  position: relative;
  display: grid;
  grid-template:
  "content_shop" calc(206.25vh + 80px)
  "footer"          18.75vh
  /100vw
  ;
  grid-gap: 0px;
  height: 100%;
  width: 100%;
  margin-top: calc(12.5vh + 3rem);
}
.content_shop {
  grid-area: content_shop;
  border-top: 0px;
  border-bottom: 0px;
}
.footer {
  grid-area: footer;
}
.main {
  overflow: hidden;
}
